@use '../../assets/base.scss';
@use '../../assets/shared-styles.scss';

.container
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 50px 0;

    button
    {
        padding: 10px 30px;
        border: 0;
        border-radius: 5px;
        font-family: base.$header-font;
        text-transform: uppercase;
        font-family: base.$film-title-font;
        letter-spacing: 2px;
        font-size: 16px;
        background-color: rgb(224, 0, 0);
        cursor: pointer;
        color: white;
    }

    button:hover
    {
        background-color: #ff1100
    }
}

.img
{
    width: 20%;
    min-width: 200px;

    img{
        width: 100%;
    }
}

.descriptionBox
{
    flex: 1;
    padding: 20px;

    h2,
    h4
    {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: base.$film-title-font;
        color: base.$yellow-color;
    }

    h2
    {
        font-size: 40px;
        color: black;
    }
}

.description
{
    padding: 20px;
}

.info
{
    padding: 20px;

    p{
        padding: 2px 0;
        color: #5f5f5f;
    }

    span
    {
        font-weight: 500;
        color: black;
    }
}

@media(max-width: base.$small)
{
    .container
    {
        flex-direction: column;
        align-items: center;
    }

    .img
    {
        width: 300px;
    }
}

