@use '../../../../../assets/base.scss';

.vertical, .horizontal
{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    position: relative;
    padding: 15px;
    overflow: hidden;

    p
    {
        padding: 0px 15px;
        transition: all ease-in-out 0.2s;
    }

    img
    {
        transition: all ease-in-out 0.2s;
    }
    
}

.vertical:hover
{
    cursor: pointer;

    img
    {
        transform: scale(105%);
    }

    p
    {
        color: base.$yellow-color;
    }
}

.horizontal:hover
{
    cursor: pointer;

    p
    {
        transform: translateY(-20px);
        color: base.$yellow-color;
    }
}

.horizontal
{
    position: relative;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    
    img
    {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    p
    {
        z-index: 1;
        padding: 20px;
        font-size: 25px;
    }

        .overly
    {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.7344187675070029) 0%, rgba(0,0,0,0.8240546218487395) 3%, rgba(255,130,72,0) 100%);
    }
}

.vertical
{
    img
    {
        height: 100%;
        width: 30%;
        object-fit: cover;
    }

    p
    {
        flex: 1;
    }

    .overly
    {
        display: none;
    }

}

