@use '../../../assets/base.scss';

.container
{
    color: white;
    font-size: 30px;
    display: flex;

    p
    {
        padding: 5px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
    }
    
    p:hover,
    a:hover
    {
        color: base.$yellow-color;
    }

    a
    {
        color: white;
    }

}

@media(min-width : base.$medium)
{
    .hamburger
    {
        display: none;
    }
}