@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$yellow-color : #ffbb00;

$header-font : 'Ubuntu', sans-serif;

$x-small : 576px;
$small : 768px;
$medium : 992px;
$large : 1200px;