@use './base.scss';

@mixin forms
{
    .form
    {
        width: 300px;
        color: base.$yellow-color;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button
        {
            margin-top: 20px;
            padding: 10px 30px;
            border: 0;
            border-radius: 5px;
            font-family: base.$header-font;
            text-transform: uppercase;
            font-family: base.$film-title-font;
            letter-spacing: 2px;
            font-size: 16px;
        }
    
        div
        {
            display: flex;
            flex-direction: column;
            width: 80%;
            padding: 5px 0;

            label
            {
                padding: 5px 0px;
                letter-spacing: 2px;
            }

            input
            {
                padding: 10px;
                border-radius: 5px;
                border: none;
            }

            input:focus 
            {
                outline: none;
                padding: 9px 10px;
                border: 2px solid gold;
            }

        }
    }     
}

